
blockquote:before, blockquote:after,
q:before, q:after {
	content:"";
}
blockquote, q {
	quotes:"" "";
}


#slider {
	position:relative;
    width:960px;
    height:365px;
	background:url('slides/loading.gif') no-repeat 50% 50%;
}
#slider img {
	position:absolute;
	top:0px;
	left:0px;
	display:none;
}
#slider a {
	border:0;
	display:block;
}

.nivo-controlNav {
	position:absolute;
	left:350px;
	/*bottom:-42px;*/
	bottom:50px;
}
.nivo-controlNav a {
	border-style: none;
    border-color: inherit;
    border-width: 0;
    display:block;
	    width:22px;
	    height:22px;
	background:url('slides/bullets.png') no-repeat;
	    text-indent:-9999px;
	    margin-right:3px;
	    float:left;
}
.nivo-controlNav a.active {
	background-position:0 -22px;
}

.nivo-directionNav a {
	border-style: none;
    border-color: inherit;
    border-width: 0;
    display:block;
	    width:30px;
	    height:30px;
	background:url('slides/arrows.png') no-repeat;
	    text-indent:-9999px;
	}
a.nivo-nextNav {
	background-position:-30px 0;
	right:15px;
}
a.nivo-prevNav {
	left:15px;
}

.nivo-caption {
    text-shadow:none;
    font-family: Helvetica, Arial, sans-serif;
}
.nivo-caption a { 
    color:#efe9d1;
    text-decoration:underline;
}
